<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<!-- include -->
{{>layouts/header}}
	
	<h1>멤버 목록</h1>
	{{#msg}}
		<div>{{msg}}</div>
	{{/msg}}
	<div>
		{{loginMember.memberId}}님 반갑습니다.
		<a href="/member/logout">로그아웃</a>
		<a href="/member/modifyMemberPw">비밀번호수정</a>
		<a href="/member/removeMember">회원탈퇴</a>
	</div>

	<!-- Pw를 제외한 멤버 목록 출력 -->

<!-- include -->
{{>layouts/footer}}	
</body>
</html>